<div class="header">KitCat</div>



<div class="textkitcat"><br>
	<!--<img src="https://w0.pngwave.com/png/350/123/british-shorthair-kitten-the-veterinarians-guide-to-your-cat-s-symptoms-felidae-cat-scene-investigator-solve-your-cat-s-litter-box-mystery-cats-png-clip-art.png" alt="cat1" width="400" height="450">
  -->
	<img src="https://media.giphy.com/media/ES4Vcv8zWfIt2/giphy.gif" alt="cat1">
	<br>
</div>
	<button class="button1" (click) = "go()">Home</button>
	<button class="button2" (click) = "add()">Add</button>
	<div class="backgrond"></div>



	<!--<div class="container">
  <button class="btn">Button</button>
</div> -->